<header class="desktop-header bg-white" role="banner">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-1 order-0 order-1-l">
          <div class="box flex flex-auto justify-end-l">
            <a class="link" href="/">
              <img class="logo" src="/images/logo-writing.svg"/>
            </a>
          </div>
        </div>

        <div id="desktop-header" class="flex flex-auto"></div>
        <div class="flex">
          {% for media in site.data.social-media %}
          <a class="link mr3 pt4" href="{{ media.url }}" target="_blank">
            <img class="social-media-icon" src="/images/logo-{{ media.type }}.svg" alt="{{ media.type }} icon"/>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>
