<div id="menu" class="slideout-menu">
  <div class="container">
    <div class="wrapper">
      <div class="pt3 ph2">
        <div class="row" data-tab-group>
          <nav class="col-xs-12 flex-column">
            <div class="box">
              {% for item in site.navigation %}
                <p class="nav-item black-80 pointer ma0 link lh-title f5 fw4 exo ttu tracked" data-tab data-tab-for="{{item.title}}">{{ item.title | capitalize }}</p>
              {% endfor %}
            </div>
          </nav>

          <div class="col-xs-12 col-md-9 col-lg-8">
            <div data-tab-content="about" class="tab-content tab-content--mobile">
              <div class="row">
                <div class="col-xs-3">
                  <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
                </div>
                <div class="col-xs-12">
                  <p class="box f6 f5-l fw3 lh-copy ma0 navigation-detail">
                    Mayhem was founded in 2015 by John Higgins, Tom Day, Dan Atherton & Ian Packard to handle everything required to bring an idea from it’s conception and development to featuring on the big or little screen. Since our inception we have created moving
                    picture content that stands out and get’s noticed around the globe.
                  </p>
                </div>
              </div>
            </div>

            <div data-tab-content="clients" class="tab-content tab-content--mobile">
              <div class="row">
                <div class="col-xs-3">
                  <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
                </div>
                <div class="col-xs-12">
                  <ul class="client-list-mobile flex flex-column flex-wrap list ma0 box pl0">
                    {% for client in site.data.clients %}
                      <li class="f6 fw3 lh-copy ma0 pt0">
                        {{ client.name }}
                      </li>
                    {% endfor %}
                  </p>
                </ul>
              </div>
            </div>
          </div>

          <div data-tab-content="contact" class="tab-content tab-content--mobile">
            <div class="row">
              <div class="col-xs-3">
                <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
              </div>
              <div class="col-xs-12">
                <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
                  Address
                </h2>
                <p class="f6 f5-l black-80 fw3 lh-copy ma0 measure box">
                  6 Fredericks Place<br>
                  London
                  <br>
                  EC2R 8AB<br>
                </p>

                <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
                  General enquiries
                </h2>
                <div class="box">
                  <a class="f6 pb1 f5-l fw3 w-two-thirds w-100-ns lh-copy link black-80 bb b--black-80" href="mailto:hello@mediamayhem.tv">
                    hello@mediamayhem.tv
                  </a>
                </div>

                <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
                  New work
                </h2>
                <div class="box">
                  <a class="f6 f5-l lh-copy fw3 w-two-thirds w-100-ns black-80 bb b--black-80 pb1" href="mailto:ian@mediamayhem.tv">
                    ian@mediamayhem.tv
                  </a>
                </div>

                <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
                  Phone
                </h2>
                <p class="f6 f5-l pb1 fw3 lh-copy ma0 box">
                  <a class="black-80 bb b--black-80" href="tel:02071 278 783">02071 278 783</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
