---
layout: blank
logo: "/uploads/logo-old.svg"
definitions:
- An awesome creative production company
- Creators of content your friends want to watch
example: e.g. “as a self-respecting marketing exec, I always work with Mayhem”
links:
- link: "/branded-content"
  text: Branded content
- link: "/live"
  text: Live
- link: "/sport"
  text: Sport
- link: "/corporate"
  text: Corporate
---

<div style="height: 100vh;">
  <div class="ph3 w-100 h-100 flex flex-column justify-end items-center">
    <div style="height: 15vh;" class="w-100 flex justify-center">
      <img class="w-50 w-25-ns pt4" src={{ page.logo }}></img>
    </div>
    <div style="flex-grow: 1;" class="fw3 flex flex-column justify-center">
      <h1 class="fw3 f1 mb0">mayhem</h1>
      <h2 class="f2 fw3 mv1">/ˈmeɪhɛm/</h2>
      <b class="f3 fw3 i">noun</b>

      <ol>
        {% for item in page.definitions %}
        <li class="f4">{{ item }}</li>
        {% endfor %}
      </ol>

      <p class="f4">{{ page.example }}</p>
    </div>
    <ul style="height: 15vh;" class="pa0 ma0 list flex flex-wrap w-100 justify-around items-center lh-copy">
      {% for link in page.links %}
      <li class="tc w-50 w-25-ns">
        <a class="link--underline ttu fw3" href="{{ link.link }}">{{ link.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
