<footer class="flex flex-auto w-100 pv2 pa3-ns bt b--light-gray">
  <ul class="flex self-stretch w-100 w-50-m w-50-l justify-between ma0 list pa2">
    <li class="pr2">
      <a class="block" href="https://instagram.com/media_mayhem" target="_blank">
        <i class="f4 black-90 fa fa-instagram"></i>
      </a>
    </li>
    <li class="ph2">
      <a class="block" href="https://www.facebook.com/mediamayhemtv/" target="_blank">
        <i class="f4 black-90 fa fa-facebook"></i>
      </a>
    </li>
    <li class="ph2">
      <a class="block" href="https://twitter.com/mediamayhemtv" target="_blank">
        <i class="f4 black-90 fa fa-twitter"></i>
      </a>
    </li>
    <li class="ph2">
      <a class="block" href="https://vimeo.com/mediamayhem" target="_blank">
        <i class="f4 black-90 fa fa-vimeo"></i>
      </a>
    </li>
  </ul>
  <div class="flex-auto">
    <address class="f5 fw3 fs-normal lh-copy">
      Media Mayhem<br>
      6 Fredericks Place<br>
      London<br>
      EC2R 8AB<br>
      <a href="tel:0207 726 0763">0207 726 0763</a><br>
      <a href="mailto:info@mediamayhem.tv">info@mediamayhem.tv</a>
    </address>
  </div>
</footer>
