<footer class="flex-auto self-end flex justify-end flex-column w-100 pr3 pr4-l">
  <div class="container">
    <div class="wrapper">
      <div class="bt b--light-gray flex flex-wrap flex-auto w-100">
        <div class="flex flex-column w-100 w-third-ns lh-copy f6 f5-l fw3 cell pb0 pb3-ns black-80">
          <a class="link flex black-80" href="tel:0207 726 0763">
            0207 726 0763
            <i class="material-icons f6 pl1 fw3">open_in_new</i>
          </a>
          <a class="link flex black-80" href="mailto:info@mediamayhem.tv">
            info@mediamayhem.tv
            <i class="material-icons f6 pl1 fw3">open_in_new</i>
          </a>
        </div>

        <div class="w-100 w-third-ns cell pb0 pb3-ns">
          <address class="f6 f5-l fw3 fs-normal lh-copy">
            Media Mayhem<br>
            6 Fredericks Place<br>
            London<br>
            EC2R 8AB<br>
          </address>
        </div>

        <ul class="flex flex-column-ns justify-between justify-start-ns w-100 w-third-ns ma0 list cell lh-copy black-80 f6 f5-l fw3">
          <li>
            <a class="link flex" href="https://instagram.com/media_mayhem" target="_blank">
              Instagram
              <i class="material-icons f6 pl1 fw3 black-80">open_in_new</i>
            </a>
          </li>
          <li>
            <a class="link flex" href="https://www.facebook.com/mediamayhemtv/" target="_blank">
              Facebook
              <i class="material-icons f6 pl1 fw3 black-80">open_in_new</i>
            </a>
          </li>
          <li>
            <a class="link flex" href="https://twitter.com/mediamayhemtv" target="_blank">
              Twitter
              <i class="material-icons f6 pl1 fw3 black-80">open_in_new</i>
            </a>
          </li>
          <li>
            <a class="link flex" href="https://vimeo.com/mediamayhem" target="_blank">
              Vimeo
              <i class="material-icons f6 pl1 fw3 black-80">open_in_new</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
