<header class="flex flex-column flex-row-ns justify-between-ns pv2 pa3-ns mw-100 w-100" role="banner">
  <h1 class="flex-auto w-50-ns f3 fw6 ma0 pa2">
    <a class="link black-80" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
  </h1>

  <nav class="flex flex-auto justify-between items-center w-50-ns pa2">
    <div class="f5 fw3 pb2 pb0-ns">About</div>
    <div class="f5 fw3 pb2 pb0-ns">Clients</div>
    <div class="f5 fw3 pb2 pb0-ns">News</div>
    <div class="f5 fw3 pb2 pb0-ns">Contact</div>
  </nav>
</header>
