<header class="mobile-header">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-3">
          <div class="pv3">
            <div id="nav-toggle" class="flex items-center">
              <button class="btn hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="pv3">
            <a class="link flex items-center justify-end" href="/">
              <img class="logo" src="/images/logo-writing.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
