<div id="menu" class="slideout-menu">
  <div class="container">
    <div class="wrapper">
      <div class="pt3" data-tab-group>
        <nav>
          <div class="box">
            {% for item in site.navigation %}
            <p class="nav-item black-80 pointer ma0 link lh-title f5 fw4 exo ttu tracked" data-tab data-tab-for="{{item.title}}">{{ item.title | capitalize }}</p>
            {% endfor %}
          </div>
        </nav>

        <div data-tab-content="about" class="tab-content tab-content--mobile">
          <div class="w-third">
            <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
          </div>
          <div class="w-100">
            <p class="box f6 f5-l fw3 lh-copy ma0">
              We create award-winning content that delivers. Commercials, online, broadcast and fiction - all under one roof. Our stories are moving, entertaining and powerful. Welcome to Mayhem.
            </p>
          </div>
        </div>

        <div data-tab-content="clients" class="tab-content tab-content--mobile">
          <div class="w-third">
            <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
          </div>
          <div class="w-100">
            <ul class="client-list-mobile flex flex-column flex-wrap list ma0 box pl0">
              {% for client in site.data.clients %}
              <li class="f6 fw3 lh-copy ma0 pt0">
                {{ client.name }}
              </li>
              {% endfor %}
            </p>
          </ul>
        </div>
      </div>

      <div data-tab-content="contact" class="tab-content tab-content--mobile">
        <div class="w-third">
          <hr class="bt-w-1 br-w-0 bl-w-0 bb-w-0 bt mt0 mh0 mb3 w-100"/>
        </div>
        <div class="w-100">
          <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
            Address
          </h2>
          <p class="f6 f5-l black-80 fw3 lh-copy ma0 measure box">
            4th floor<br/>
            35/37 Ludgate Hill<br/>
            City<br/>
            EC4M 7JN
          </p>

          <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
            General enquiries
          </h2>
          <div class="box">
            <a class="f6 pb1 f5-l fw3 w-two-thirds w-100-ns lh-copy link black-80 bb b--black-80" href="mailto:hello@mayhemcreative.co.uk">
              hello@mayhemcreative.co.uk
            </a>
          </div>

          <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
            New work
          </h2>
          <div class="box">
            <a class="f6 f5-l lh-copy fw3 w-two-thirds w-100-ns black-80 bb b--black-80 pb1" href="mailto:ian@mayhemcreative.co.uk">
              ian@mayhemcreative.co.uk
            </a>
          </div>

          <h2 class="small exo ttu tracked-mega fw4 ma0 pb2 black-80 lh-copy">
            Phone
          </h2>
          <p class="f6 f5-l pb1 fw3 lh-copy ma0 box">
            <a class="black-80 bb b--black-80" href="tel:02071 278 783">02071 278 783</a>
          </p>
        </div>
      </div>
      <div class="flex">
        {% for media in site.data.social-media %}
        <a class="link mr3 pv3" href="{{ media.url }}" target="_blank">
          <img class="social-media-icon" src="/uploads/logo-{{ media.type }}.svg" alt="{{ media.type }} icon"/>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
