<!-- parameters: -->
<!-- video -->

<div class="videoOuterContainer w-100 mw-100">
  <div class="videoInnerContainer">
    <div data-vimeoid="{{ include.video.vimeoid }}">
      <img class="z-0 videoCover" src="{{ '/images/' | append: include.video.cover }}" />
      <div class="z-5 videoCenter">
        {% if include.video.dark == true %}
        <h2 class="videoTitle videoTitle--dark">{{ include.video.title }}</h2>
        <svg class="playLogoSvg playLogoSvg--dark" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        {% else %}
        <h2 class="videoTitle">{{ include.video.title }}</h2>
        <svg class="playLogoSvg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        {% endif %}
      </div>
    </div>
  </div>
</div>
