// grid

.grid {
  padding-right: $smallGutter;
  padding-bottom: $smallGutter;
}

@media (min-width: 60rem) {
  .grid {
    padding-right: $bigGutter;
    padding-bottom: $bigGutter;
  }
}

// cell

.cell {
  padding-top: $smallGutter;
  padding-left: $smallGutter;
}

@media (min-width: 60rem) {
  .cell {
    padding-top: $bigGutter;
    padding-left: $bigGutter;
  }
}

@media (min-width: 30rem) {
  .cell-ns {
    padding-top: $smallGutter;
    padding-left: $smallGutter;
  }
}

@media (min-width: 60rem) {
  .cell-ns {
    padding-top: $bigGutter;
    padding-left: $bigGutter;
  }
}

@media (min-width: 30rem) and (max-width: 60rem) {
  .cell-m {
    padding-top: $smallGutter;
    padding-left: $smallGutter;
  }
}

@media (min-width: 60rem) {
  .cell-l {
    padding-top: $bigGutter;
    padding-left: $bigGutter;
  }
}
