a {
  color: rgba(0, 0, 0, .7);
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  opacity: .6;
}

.link--underline {
  border-bottom: 1px solid;
}
