.tab-content {
  flex-basis: 100%;
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  transition: position 0s, visibility 0s, opacity 300ms ease-in-out;
}

.tab-content.is-visible {
  position: inherit;
  visibility: visible;
  opacity: 1;
}

.tab-content.large {
  flex-basis: 100%;
}
