.showcase-list-item {
  width: 100%;
}

@media (min-width: 30rem) {
  .showcase-list-item {
    width: 50%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.showcase-list-item:nth-of-type(3n+1) {
  width: 100%;
}

.showcase-list-item:last-of-type {
  padding-bottom: 0;
}
