.ReactTabs {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

.ReactTabs__TabList {
  flex-basis: 25%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ReactTabs__Tab {
  font-family: "Exo";
  color: rgba(0, 0, 0, 0.4);
}

.ReactTabs__Tab--selected {
  color: rgba(0, 0, 0, 0.8);
}

.ReactTabs__TabPanel {
  flex-basis: 75%;
  font-family: "nimbus-sans";
  font-weight: 300;
}
