---
layout: default
---

<div class="container">
  <div class="wrapper">
    <div class="flex flex-column flex-row-ns flex-wrap mw-100 w-100 black-80">

      <div class="row">
        <div class="col-xs-12 col-lg-3 order-1 order-0-l">
          <div class="box">
            <h2 class="ma0 f5 f4-ns fw4 pt4 pt0-l black-80 exo ttu tracked">News feed</h2>
          </div>

          <section class="list news-feed row flex flex-wrap mv0 pl0">
            {% for item in site.posts %}
            <article class="col-xs-12 col-md-6 col-lg-12 news-feed-item">
              <div class="news-feed-line">
                {% if item.long == true %}
                {% include news-feed-long.html post=item %}
                {% else %}
                {% include news-feed-short.html post=item %}
                {% endif %}
              </div>
            </article>
            {% endfor %}
            <div class="col-xs-12">
              <a class="pb1 box f5 f4-ns fw4 black-80 exo ttu tracked-mega link" href="/news">Archive</a>
            </div>
          </section>
        </div>

        <section class="col-xs-12 col-lg-9 order-0 order-1-l">
          <div class="row">

            <div class="col-xs-12">
              <div class="box">
                <h2 class="ma0 f5 f4-ns pt3 pt0-l fw4 black-80 exo ttu tracked">Showcase</h2>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="row">
                <ul class="list flex flex-wrap pl0 mv0">
                  {% assign sortedShowcase = site.showcase | sort: 'order' %}
                  {% for item in sortedShowcase %}

                  <li class="box ma0 showcase-list-item">
                    {% include video.html video=item %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>
