---
layout: default
---
<article class="flex flex-column flex-wrap" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="flex flex-wrap w-100">
    {% if page.videoID or page.imageURL %}
    {% if page.videoID %}
    {% include video.html id=page.videoID caption=page.videoCaption %}
    {% else if page.imageURL %}
    <div class="grid flex flex-column items-end w-100">
      <div class="w-100 w-50-l">
        <img class="cell mw-100 w-100" src="{{ page.imageURL }}">
      </div>
    </div>
    {% endif %}
    {% if page.heroCaption %}
    {% include hero-caption.html caption=page.imageCaption %}
    {% endif %}
    {% endif %}
  </header>

  <div class="container">
    <div class="wrapper">
      <div class="grid flex flex-wrap w-100">
        <div class="cell w-100 w-50-l">
          {% include journal-header.html title=page.title author=page.author date=page.date %}
        </div>
        <div class="cell w-100 w-50-l">
          {% include journal-content.html %}
        </div>
      </div>
    </div>
  </div>
</article>
