---
layout: default
---

{% assign brand = site.brands | where: "title", page.brand | first %}

<article class="flex flex-column flex-wrap" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container">
    <div class="wrapper">

      <div class="row">
        <div class="col-xs-12 flex">
          <a class="breadcrumb pointer nimbus-sans f6 f5-ns fw3 ttu tracked align-center pb3 black-40" href={{ brand.link | default: "/" }}>Home</a> &middot; <a class="breadcrumb pointer nimbus-sans f6 f5-ns fw3 ttu tracked align-center pb3" href="{{ brand.link }}/news">News</a> &middot; <h2 class="breadcrumb__leaf nimbus-sans f6 f5-ns fw3 ttu tracked align-center pb3">{{ page.breadcrumb | default: page.title }}</h2>
        </div>
        <header class="col-xs-12 box">
          {% if page.video.is-visible %}
          {% include video.html video=page.video %}
          {% else if page.header-image %}
          <div class="row items-end">
            <div class="col-xs-12">
              <img class="mw-100 w-100" src="{{ page.header-image }}">
            </div>
          </div>
          {% endif %}

          {% if page.header-caption %}
          {% include hero-caption.html caption=page.header-caption %}
          {% endif %}
        </header>

        <div class="col-xs-12 col-lg-6">
          <div class="box">
            {% include news-header.html title=page.title author=page.author date=page.date %}
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="box">
            {% include news-content.html %}
          </div>
        </div>
      </div>
        </div>
    </div>
  </div>
</article>
